@import url("https://cdn.statically.io/gist/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/fad2f254369fb54250260077a4c87391a6280c52/gotham.css");

:root {
  --cl-green: #74c47b;
  --cl-orange: #ef892a;
  --cl-black: #000;
  --cl-gray: rgba(0, 0, 0, 0.54);
  --cl-light-gray: #f8f9fb;
  --swiper-navigation-size: 25px !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "GothamPro";
  font-size: 18px;
  font-weight: 300;
  color: var(--cl-black);
}

a,
a:link {
  text-decoration: none;
  text-decoration-thickness: 3px;
}

.bg--green {
  background-color: var(--cl-green);
  transition: 0.3s ease;
}

.bg--green-hover:hover {
  background-color: #31bc58;
  box-shadow: 0 !important;
}

.bg--light-gray {
  background-color: var(--cl-light-gray);
}

.bg--orange {
  background-color: var(--cl-orange);
}

.bg--gray {
  background-color: #e1e1e1;
}

.bg--gray-light {
  background-color: var(--cl-light-gray);
}

.text--green {
  color: var(--cl-green) !important;
}

.text--gray {
  color: var(--cl-gray) !important;
}

.text--black {
  color: var(--cl-black) !important;
}

.gray--hover:hover {
  color: var(--cl-green);
}

/* reuseable classes */
.fs-32 {
  font-size: 32px;
}

.fs-24 {
  font-size: 24px;
}

.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

/* File generated please don't touch */
.mt-30{margin-top:2rem!important}.cursor-pointer{cursor:pointer}.regular-icon{height:48px;width:48px;background-size:48px 48px}.social-media a:hover{opacity:.6}.custom-shadow{box-shadow:0 .3px .5px rgba(0,0,0,0.1),0px 2px 4px rgba(0,0,0,0.2)}.footer-custom-padding{padding:30px 0 100px 0}.btn-orange{font-size:14px;transition:all .1s ease-in}.btn-orange:hover,.btn-orange:focus-visible,.btn-orange:active{background:#eb7d19;box-shadow:none}.order-button{width:max-content;border-radius:8px;padding:10px 20px;font-weight:300;position:fixed;z-index:2;bottom:20px;left:50%;transform:translate(-50%,0);box-shadow:0 0 10px rgba(0,0,0,0.14)}.order-button:hover{background:#eb7d19}.order-button svg path{stroke:#fff}.info_online div{width:12px;height:12px}.bg-stars{background-image:url("../img/yellow-star.svg");width:140px;height:18px;display:block;right:0}.li-price{list-style-type:disc!important}.p-custom{padding-left:15px!important}.custom-height{height:8px!important}.custom-flex{margin-left:10px!important;margin-right:10px!important}.mobile-rate{display:none!important}.d-t-block{display:none!important}.header-banner{background-image:url("../img/banner.jpg");padding:55px 0;background-size:auto;background-size:cover}.m-custom-10{margin-top:10px}.p-custom-25{padding-left:25px}.p-custom-100{padding-right:100px}.hero-title{font-size:32px;line-height:41px;margin-bottom:38px;max-width:490px}.hero-description{font-size:18px;line-height:24px;margin-bottom:50px;max-width:390px}.header-form{width:412px;background:#f8f9fb;border-radius:8px;padding:34px 24px 44px}.custom-select{position:relative;width:100%;padding:10px;border-radius:8px;border:1px solid #e1e1e1;font-family:"Gothampro";font-weight:300;-webkit-appearance:none;font-size:16px}.custom-select:invalid{color:var(--cl-gray)!important}.arrow-up{position:absolute;z-index:1;display:block;background:url("../img/arrow-up.svg");width:24px;height:24px;right:4px;top:50%;transform:translate(-50%,-50%)}.btn-reg{padding:12px 0!important}.custom-select>*{font-family:sans-serif!important;font-weight:500!important}.header-form::before{content:"";position:absolute;left:400px;bottom:120px;width:288px;height:58px;display:block;background:url("/assets/img/header-arrow.svg");background-repeat:no-repeat!important}.student-section ul{padding-left:0;margin-bottom:0}.student-section ul li a{color:var(--cl-black);text-decoration:none}.student-section ul li a:hover{transition:.3s ease;color:var(--cl-green)}.student-section ul li{position:relative;padding-right:20px}.student-section ul li::after{width:4px;height:4px;border-radius:50%;background:#000;content:"";position:absolute;right:8px;top:calc(50% - 2px)}.faq-card{background-color:#f8f9fb;margin-bottom:24px}.faq-card:last-child{margin-bottom:0}.faq-card p{margin-bottom:0}.swiper{width:100%;height:100%}.swiper-slide{font-size:18px;background:#fff;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:column;border-radius:8px}.recalls-text{margin-bottom:0}.swiper-button-next,.swiper-button-prev{margin-top:-35px!important;color:var(--cl-black)}.swiper{margin-left:auto;margin-right:auto}.swiper-pagination{margin:40px 0;margin-bottom:0;display:flex;gap:10px;position:relative!important}.swiper-pagination-bullet{width:16px;height:16px;border-radius:3px;transition:.3s ease;background-color:#0065d3}.swiper-pagination-bullet-active{width:45px}.swiper-slide p{margin-bottom:0}.swiper-slide{padding:40px}.working-section ul{padding-left:0!important;list-style:none;gap:20px}.grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(250px,1fr))}.item-d{border-radius:8px;padding:16px;background:linear-gradient(182.32deg,#ffaf37 -44.37%,#f4952e 38.87%,#ef6c2a 115.65%)}.item-d p{margin-bottom:0}.category-section .grid-dd{display:grid;gap:20px;grid-template-columns:repeat(auto-fit,minmax(300px,1fr))}.grid-dd .card-dd{border-radius:8px;background-color:var(--cl-light-gray);padding:25px 50px}.grid-dd .card-dd p{margin-bottom:0}.big-card{padding:24px 24px;border-radius:8px;width:100%;margin-bottom:24px}.tutor-resume-head{display:flex;justify-content:space-between;margin-bottom:32px}.tutor-img-link{display:block;width:156px;height:156px;border-radius:8px;overflow:hidden}.tutor-author-info{width:calc(490px - 156px - 36px);margin:0 auto 0 36px;padding-right:10px}.tutor-column{width:170px}.tutor-row{display:flex;justify-content:space-between}.tutor--column{display:flex;flex-direction:column}.tutor--column:nth-child(1){width:490px}.tutor--column:nth-child(2){width:170px}.resume-price{width:490px;margin-top:36px}.min-d-768{display:none}.tutor__form-list{display:flex;flex-direction:column;position:relative;padding:0 0 0 30px;margin:36px 0;list-style:none}.tutor__form-list::before{height:100%;width:6px;border-radius:4px;background:#ef892a;content:"";position:absolute;left:0;top:0;display:block}.tutor__list-item{font-size:16px;line-height:20px}.tutor__list-item:not(:last-child){margin-bottom:18px}.tutor-form{padding:44px 115px!important}.selected{color:var(--cl-gray)}.p-s{position:sticky;position:-webkit-sticky;top:0;padding-top:24px}.d-b-b{margin-top:24px}.border-color-0{border:0 solid #e1e1e1!important}.custom-padding{padding:13px}.big-card-form .header-form{width:100%;padding:10px 0}.tutor-img-link img{width:100%;height:100%;object-fit:cover;object-position:center}.w-28{width:28px}.ml-20{margin-left:20px}.p-t-b-custom{padding-top:10px!important;padding-bottom:10px!important}.ul-pagination{display:flex;justify-content:center;align-items:center;list-style:none;padding:0;margin:35px 0 0;gap:15px}.ul-pagination li{display:flex;align-items:center;justify-content:center;width:48px;height:48px;background:#f8f9fb;border:1px solid #f8f9fb;border-radius:4px}.ul-pagination li a{display:flex;align-items:center;justify-content:center;width:100%;height:100%;font-size:18px;line-height:23px;color:#000;text-decoration:none;cursor:pointer}.ul-pagination .li-disabled a{background:url("../img/double-left-arrows-angles.svg") no-repeat center;background-size:14px;opacity:.3}.ul-pagination li:nth-child(2) a{background:url("../img/prev.svg") no-repeat center;background-size:14px;opacity:.3}.ul-pagination li.active{border-color:var(--cl-green);pointer-events:none}.ul-pagination li.active a{color:var(--cl-green);font-weight:400}.ul-pagination li:nth-child(8) a{background:url("../img/next.svg") no-repeat center;background-size:14px}.ul-pagination li:nth-child(9) a{background:url("../img/double-right-arrows-angles.svg") no-repeat center;background-size:14px}.custom-form{width:100%;background:#f8f9fb;border-radius:8px;padding:10px 0}.btn-close{right:22px;top:22px}.custom-dialog{padding:40px 24px}.modal-content{width:82%!important}.modal-body{padding:30px 0;padding-bottom:0}.form-controller{width:100%;height:48px;background:#fff;border:1px solid #e1e1e1;border-radius:6px;padding:10px 16px;font-size:18px;line-height:23px;color:#000;margin-bottom:24px;outline:0;font-weight:300}.modal-link{font-size:16px;line-height:20px;background:0;padding:0;border:0;outline:0;cursor:pointer;color:#74c47b!important;border-bottom:1px solid #74c47b;border-bottom-color:#74c47b;transition:.3s ease}.modal-link:hover{border-bottom-color:transparent!important}#clearBtn{background-color:transparent;border:2px solid #74c47b;border-radius:4px;padding:10px 14px}@media(max-width:1170px){.tutor--column:nth-child(1){width:calc(100% - 185px);padding-right:10px}}.bg-p{background-position:-32px!important}@media(max-width:1199px){.header-form::before{display:none}.container,.container-lg,.container-md,.container-sm,.container-xl{max-width:1170px!important}}@media(min-width:1400px){.container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{max-width:1170px}}@media(max-width:576px){.width-100{width:100%}}@media(max-width:992px){.p-custom{padding-left:10px!important}.m-custom-10{margin-top:0}.p-custom-25{padding-left:10px}.fs-32{font-size:24px}.fs-md-24{font-size:24px}.fs-md-20{font-size:20px}.fs-md-16{font-size:16px}.fs-md-14{font-size:14px!important}.social-media{margin-bottom:20px}.form-side{justify-content:center!important;flex-direction:column!important}.right-side,.left-side{width:100%}.header-form{background-color:transparent;width:100%;padding:0}.header-banner{padding:20px 0}.hero-title{margin-bottom:10px}.hero-description{margin-bottom:20px}.d-n-992{display:none}.working-section{padding-top:20px!important;padding-bottom:20px!important}.ss{margin-top:20px!important}.text-center-992{text-align:center}.p-custom-100{padding-right:10px}.section-question{padding:20px!important}.quote-title{justify-content:center!important}.quotes-info h2{margin-bottom:10px!important}.section-quotes{padding:25px 0!important}.dd{margin-top:20px!important}.tutor-form{padding:44px 20px!important}}@media(max-width:576px){.container,.container-sm{max-width:860px!important}.custom-flex{flex-direction:column;gap:20px;margin-left:20px}.swiper-slide{padding:10px}.section-quotes{background-color:#fff}.swiper-slide{font-size:18px;background-color:var(--cl-light-gray)}.swiper-button-next,.swiper-button-prev{display:none!important}.swiper-pagination{margin:25px 0}}@media(max-width:768px){.custom-hr{background-color:#bbb;height:1px;width:100%;margin-bottom:20px!important;margin-top:20px!important}.ul-pagination li{width:32px;height:32px}.ul-pagination li a{font-size:14px;line-height:18px}.mt-sm-20{margin-top:20px}.mt-sm-10{margin-top:10px}.mb-sm-20{margin-bottom:20px}.mb-sm-10{margin-bottom:10px}.mb-sm-05{margin-bottom:5px!important}.bg-stars-mobile{background-image:url("../img/yellow-star.svg");width:135px;height:18px;display:block;background-size:27px;background-position:center;margin-left:-5px}.desktop-rate{display:none!important}.mobile-rate{display:flex!important}.btn-100{width:100%}.d-t-none{display:none!important}.d-t-block{display:block!important}.info_online div{width:8px!important;height:8px!important}.faq-card{background-color:transparent;padding:0!important}.section-question h2{margin-bottom:10px!important}.fs-16-768{font-size:16px}.fs-14-768{font-size:14px}.d-n-768{display:none}.tutor-row{flex-direction:column}.tutor--column,.resume-price{width:100%!important}.big-card{padding:15px 15px}.mb-5-768{margin-bottom:5px!important;margin-top:0!important}.mb-10-768{margin-bottom:10px!important;margin-top:0!important}.bg-stars-768{background-image:url("../img/yellow-star.svg");width:96px!important;height:12px!important;display:block;background-position:-42px!important;background-size:20px}.resume-price{margin-top:10px}.min-d-768{display:block}.modal-content{width:92%!important;margin-top:20px}}.active-border{border:1px solid red!important}.text-decoration-none{text-decoration:none!important}#quickStep{display:none}

