@import url("https://cdn.statically.io/gist/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/fad2f254369fb54250260077a4c87391a6280c52/gotham.css");

:root {
  --cl-green: #74c47b;
  --cl-orange: #ef892a;
  --cl-black: #000;
  --cl-gray: rgba(0, 0, 0, 0.54);
  --cl-light-gray: #f8f9fb;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "GothamPro";
  font-size: 18px;
  font-weight: 300;
  color: var(--cl-black);
}

.bg--green {
  background-color: var(--cl-green);
}

.bg--light-gray {
  background-color: var(--cl-light-gray);
}

.bg--orange {
  background-color: var(--cl-orange);
}

.bg--gray {
  background-color: #e1e1e1;
}

.text--green {
  color: var(--cl-green) !important;
}

.text--gray {
  color: var(--cl-gray);
}

.text--black {
  color: var(--cl-black) !important;
}

.gray--hover:hover {
  color: var(--cl-green);
}

/* reuseable classes */
.fs-32 {
  font-size: 32px;
}

.fs-24 {
  font-size: 24px;
}

.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.mt-30 {
  margin-top: 2rem !important;
}

.cursor-pointer {
  cursor: pointer;
}

.regular-icon {
  height: 48px;
  width: 48px;
  background-size: 48px 48px;
}

.social-media a:hover {
  opacity: 0.6;
}
.custom-shadow {
  box-shadow: 0px 0.3px 0.5px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.footer-custom-padding {
  padding: 30px 0px 100px 0px;
}

.btn-orange {
  font-size: 16px;
  transition: all 0.1s ease-in;
}

.btn-orange:hover,
.btn-orange:focus-visible,
.btn-orange:active {
  background: #eb7d19;
  box-shadow: none;
}

.order-button {
  width: max-content;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: 300;
  position: fixed;
  z-index: 1;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
}
.order-button:hover {
  background: #eb7d19;
}

.order-button svg path {
  stroke: #fff;
}

.info_online div {
  width: 12px;
  height: 12px;
}

.bg-stars {
  background-image: url("../img/yellow-star.svg");
  width: 140px;
  height: 18px;
  display: block;
  right: 0;
}

.li-price {
  list-style-type: disc !important;
}

.p-custom {
  padding-left: 15px !important;
}

.custom-height {
  height: 8px !important;
}

.custom-flex {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.mobile-rate {
  display: none !important;
}

.d-t-block {
  display: none !important;
}

.header-banner {
  background-image: url("../img/banner.jpg");
  padding: 55px 0;
  background-size: auto;
  background-size: cover;
}

.hero-title {
  font-size: 32px;
  line-height: 41px;
  margin-bottom: 38px;
  max-width: 490px;
}

.hero-description {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 50px;
  max-width: 390px;
}

.header-form {
  width: 412px;
  background: #f8f9fb;
  border-radius: 8px;
  padding: 34px 24px 44px;
}

.custom-select {
  position: relative;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  font-family: "Gothampro";
  font-weight: 300;
  -webkit-appearance: none;
  font-size: 16px;
}

.arrow-up {
  position: absolute;
  z-index: 1;
  display: block;
  background: url("../img/arrow-up.svg");
  width: 24px;
  height: 24px;
  right: 4px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-reg {
  padding: 12px 0px !important;
}

.custom-select > * {
  font-family: sans-serif !important;
  font-weight: 500 !important;
}

.header-form::before {
  content: "";
  position: absolute;
  left: 400px;
  bottom: 120px;
  width: 288px;
  height: 58px;
  display: block;
  background: url("/assets/img/header-arrow.svg") no-repeat;
}

@media (max-width: 1199px) {
  .header-form::before {
    display: none;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1170px;
  }
}

@media (max-width: 576px) {
  .width-100 {
    width: 100%;
  }
}



@media (max-width: 992px) {
  .fs-32 {
    font-size: 24px;
  }
  .fs-md-24 {
    font-size: 24px;
  }
  .fs-md-20 {
    font-size: 20px;
  }
  .fs-md-16 {
    font-size: 16px;
  }
  .fs-md-14 {
    font-size: 14px !important;
  }
  .social-media {
    margin-bottom: 20px;
  }

  .form-side {
    justify-content: center !important;
    flex-direction: column !important;
  }




  .right-side,
  .left-side {
    width: 100%;
  }
  
  .header-form {
    background-color: transparent;
    width: 100%;
    padding: 0;
  }

  .header-banner {
    padding: 20px 0;
  }

  .hero-title {
    margin-bottom: 10px;
  }

  .hero-description {
    margin-bottom: 20px;
  }

  .d-n-992 {
    display: none;
  }
}

@media (max-width: 576px) {
  .container,
  .container-sm {
    max-width: 860px !important;
  }

  .custom-flex {
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .custom-hr {
    background-color: rgb(187, 187, 187);
    height: 1px;
    width: 100%;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
  }

  .mt-sm-20 {
    margin-top: 20px;
  }

  .mt-sm-10 {
    margin-top: 10px;
  }

  .mb-sm-20 {
    margin-bottom: 20px;
  }

  .mb-sm-10 {
    margin-bottom: 10px;
  }

  .mb-sm-05 {
    margin-bottom: 5px !important;
  }

  .bg-stars-mobile {
    background-image: url("../img/yellow-star.svg");
    width: 135px;
    height: 18px;
    display: block;
    background-size: 27px;
    background-position: center;
    margin-left: -5px;
  }

  .desktop-rate {
    display: none !important;
  }

  .mobile-rate {
    display: flex !important;
  }

  .btn-100 {
    width: 100%;
  }

  .d-t-none {
    display: none !important;
  }

  .d-t-block {
    display: block !important;
  }

  .info_online div {
    width: 8px !important;
    height: 8px !important;
  }
}
